.header{
    font-size: larger;
    text-align: center;
    font-style: italic;
    color: rebeccapurple;
}

.header nav{
    background-color: black ;
    line-height: 40px;
    font-size: 20px;
    padding: 5px;
}

nav a{
    text-decoration: none;
    color: teal;
    margin-right: 20px;
}

